.container {
  width: 400px;
  margin-top: 70px;
  padding: 0 20px;
}

.about {
  width: 100%;
}

.btn {
  width: 100%;
}

.output {
  margin-top: 40px;
}

#output-path {
  font-weight: bold;
}

/* Loader */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}
.loader-container {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
